<div
  style="
    padding: 20px;
    text-align: center;
    background-color: #54695d;
    color: #ffffff;
  "
>
  <div style="margin: 20px 0">
    <a href="https://facebook.com">
      <img
        style="width: 24px; margin: 0 10px"
        src="<%= baseUrl %>imgs/facebook.png"
        alt="Facebook"
      />
    </a>
    <a href="https://twitter.com">
      <img
        style="width: 24px; margin: 0 10px"
        src="<%= baseUrl %>imgs/twitter.png"
        alt="Twitter"
      />
    </a>
    <a href="https://instagram.com">
      <img
        style="width: 24px; margin: 0 10px"
        src="<%= baseUrl %>imgs/insta.png"
        alt="Instagram"
      />
    </a>
  </div>
  <p style="font-size: 12px; color: #bbbbbb">
    &copy; 2024 Ellk. All rights reserved.
  </p>
</div>
